@media all and (max-width: 1025px) {

/*
******************************************
******************************************
****************** FRONT PAGE
******************************************
******************************************
*/

    /****************** TEXT
    ******************************************
    ******************************************
    */

    h2{
        line-height: 41px;
        font-size: 1.7em;
    }

    .icon-item p{
        font-size: 1rem;
        margin-top: 0;
    }

    .overlay-hero-title{
        top: 25%;
        right: 12%;
    }
    /****************** IMG
    ******************************************
    ******************************************
    */

    .icons-section img{
        width: 40%;
    }

    .hero-images img{
        object-position: 0 150%;
    }

    /****************** OTHER
    ******************************************
    ******************************************
    */

    #branding{
        padding: 10px 50px;
    }

    #s{
        width: 60%;
    }

    .icons-section{
        padding: 40px 30px;
    }

    /*
    ******************************************
    ******************************************
    ****************** BOXES
    ******************************************
    ******************************************
    */

    .product-left form{
        margin-top: 10px;
    }


}

@media all and (max-width: 769px) {

    #container #content, .container{
        width: 90%;
    }

    .container-skinny{
        width: 90%;
    }

/*
******************************************
******************************************
****************** MENU
******************************************
******************************************
*/

    #s{
        width: 100%;
        padding: 10px 30px;
        font-size: .9em;
    }

    #branding{
        padding: 10px 40px;
    }

    #menu{
        padding: 20px 40px;
    }

/*
******************************************
******************************************
****************** TEXT
******************************************
******************************************
*/
    h1{
        font-size: 2.7rem;
    }
    h2 {
        line-height: 21px;
        font-size: 1.2em;
    }

    /*
******************************************
******************************************
****************** WOOCOMMERCE
******************************************
******************************************
*/
    .box-container button, .woocommerce ul.products li.product .button{
        padding: 12px 32px;
        font-size: 1em;
    }

    #box-sidebar{
        display: none;
    }

    .custom-woocommerce-product-listing{
        display: block;
       width: 100%;
    }

    /*
******************************************
******************************************
****************** OTHER
******************************************
******************************************
*/
    #subscription p{
        padding-top: 30px;
        width: 80%;
        margin: auto;
    }

    #all-boxes{
        width: 100%;
        margin: auto;
    }

    .box-container{
        width: 48%;
    }

    .product-content{
        flex-direction: column;
    }

    .product-right{
        width: 100%;
    }

    .product-left{
        width: 100%;
        margin-left: 0;
    }

    .my_custom_aside{
        padding-right: 30%;
    }

}
