@media all and (max-width: 1025px) {

/*
******************************************
******************************************
****************** FRONT PAGE
******************************************
******************************************
*/

    /****************** TEXT
    ******************************************
    ******************************************
    */

    h2{
        line-height: 41px;
        font-size: 1.7em;
    }

    .icon-item p{
        font-size: 1rem;
        margin-top: 0;
    }

    .overlay-hero-title{
        top: 25%;
        right: 12%;
    }
    /****************** IMG
    ******************************************
    ******************************************
    */

    .icons-section img{
        width: 40%;
    }

    .hero-images img{
        object-position: 0 150%;
    }

    /****************** OTHER
    ******************************************
    ******************************************
    */

    #branding{
        padding: 10px 50px;
    }

    #s{
        width: 60%;
    }

    .icons-section{
        padding: 40px 30px;
    }

/*
******************************************
******************************************
****************** BOXES
******************************************
******************************************
*/

    .product-left form{
        margin-top: 10px;
    }


}

@media all and (max-width: 769px) {
    #s{
        width: 100%;
        padding: 10px 30px;
        font-size: .9em;
    }
}
