@media all and (max-width: 1025px) {

/*
******************************************
******************************************
****************** FRONT PAGE
******************************************
******************************************
*/

    /****************** TEXT
    ******************************************
    ******************************************
    */

    h2{
        line-height: 41px;
        font-size: 1.7em;
    }

    .icon-item p{
        font-size: 1rem;
        margin-top: 0;
    }

    .overlay-hero-title{
        top: 25%;
        right: 12%;
    }
    /****************** IMG
    ******************************************
    ******************************************
    */

    .icons-section img{
        width: 40%;
    }

    .hero-images img{
        object-position: 0 150%;
    }

    /****************** OTHER
    ******************************************
    ******************************************
    */

    #branding{
        padding: 10px 50px;
    }

    #s{
        width: 60%;
    }

    .icons-section{
        padding: 40px 30px;
    }

    /*
    ******************************************
    ******************************************
    ****************** BOXES
    ******************************************
    ******************************************
    */

    .product-left form{
        margin-top: 10px;
    }


}

@media all and (max-width: 769px) {

    #container #content, .container{
        width: 90%;
    }

    .container-skinny{
        width: 90%;
    }

/*
******************************************
******************************************
****************** MENU
******************************************
******************************************
*/

    #s{
        width: 100%;
        padding: 10px 30px;
        font-size: .9em;
    }

    #branding{
        padding: 10px 40px;
    }

    #menu{
        padding: 20px 40px;
    }

/*
******************************************
******************************************
****************** TEXT
******************************************
******************************************
*/
    h1{
        font-size: 2.7rem;
    }
    h2 {
        line-height: 21px;
        font-size: 1.2em;
    }

    /*
******************************************
******************************************
****************** WOOCOMMERCE
******************************************
******************************************
*/
    .box-container button, .woocommerce ul.products li.product .button{
        padding: 12px 32px;
        font-size: 1em;
    }

    #box-sidebar{
        display: none;
    }

    .custom-woocommerce-product-listing{
        display: block;
       width: 100%;
    }

    /*
******************************************
******************************************
****************** OTHER
******************************************
******************************************
*/
    #subscription p{
        padding-top: 30px;
        width: 80%;
        margin: auto;
    }

    #all-boxes{
        width: 100%;
        margin: auto;
    }

    .box-container{
        width: 48%;
    }

    .product-content{
        flex-direction: column;
    }

    .product-right{
        width: 100%;
    }

    .product-left{
        width: 100%;
        margin-left: 0;
    }

    .my_custom_aside{
        padding-right: 30%;
    }

}

@media all and (max-width: 500px) {

    .container-skinny{
        width: 90%;
        flex-direction: column;
        padding-top: 0;
    }

    .aboutus section:nth-child(1){
        width: 100%;
    }

    .aboutus section:nth-child(2){
        width: 100%;
        margin-top: 30px;
    }

/*
******************************************
******************************************
****************** HEADER
******************************************
******************************************
*/
    #menu, #top-menu #top-text, #search{
        display: none;
    }

    #nav-mobile{
        background-color: #f8f8f8;
        position: absolute;
        width: 100%;
        z-index: 99;
        padding: 10px 10px;
        box-sizing: border-box;
    }

    .menu-customer-item{
        width: 90%;
    }

    .loginicon{
        display: flex;
        justify-content: space-between;
    }

    #navbars{
        display: block;
    }

    #menu-main-menu li{
        display: block;
        padding: 20px 20px;
    }

    #s{
        background-color: #fff;
    }

    .customericon{
        flex-direction: column;
    }

    .custom-fa-size{
        padding-bottom: 5px;
    }

    #shoppingcart{
        width: 60px;
    }

    #shoppingcart a{
        font-size: .8em;
    }

    #menu-customer-item-mobile{
        display: block;
    }

    /*
******************************************
******************************************
****************** BODY frontpage
******************************************
******************************************
*/
    h1.sans{
        font-size: 2.5rem;
    }

    h2.sans{
        font-size: 1.5rem;
    }

    .overlay-hero-title{
        top: 22%;
        margin: auto;
        right: 0;
        width: 100%;
    }

    .icons-section{
        flex-direction: column;
    }

    .icons-section img{
        width: 20%;
    }

    .icon-item{
        width: 80%;
        margin: auto;
        margin-top: 10px;
    }

    .icon-item h2{
        margin-bottom: 5px;
    }

    .icon-item p{
        line-height: 18px;
        margin-top: 10px;
    }

    .hero-images img{
        height: 380px;
    }

    #subscription{
        width: 90%;
        text-align: left;
        padding: 50px 0;
    }

    #subscription p{
        width: 100%;
    }

    #footer{
        padding: 60px 0;
    }

    #footer-content{
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
    }

    .footer-item{
        width: 45%;
    }

    #footer-img{
        text-align: left;
    }

    .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text{
        margin-right: 0;
    }

    .woocommerce #content table.cart td.actions .coupon .button.alt, .woocommerce #content table.cart td.actions .coupon .input-text + .button, .woocommerce table.cart td.actions .coupon .button.alt, .woocommerce table.cart td.actions .coupon .input-text + .button, .woocommerce-page #content table.cart td.actions .coupon .button.alt, .woocommerce-page #content table.cart td.actions .coupon .input-text + .button, .woocommerce-page table.cart td.actions .coupon .button.alt, .woocommerce-page table.cart td.actions .coupon .input-text + .button{
        font-size: 13px;
    }

    .wpcf7-validates-as-required, .wpcf7-text, .wpcf7-textarea{
        box-sizing: border-box;
    }

}
